In [207]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [208]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
378,tt1130884,80000000,294804195,Shutter Island,Leonardo DiCaprio|Mark Ruffalo|Ben Kingsley|Em...,Martin Scorsese,Someone is missing.,World War II soldier-turned-U.S. Marshal. Tedd...,138,Drama|Thriller|Mystery,Paramount Pictures|Appian Way|Phoenix Pictures...,2/18/2010,7.6,2010
53,tt2717822,70000000,17752940,Blackhat,Chris Hemsworth|Leehom Wang|Tang Wei|Viola Dav...,Michael Mann,We are no longer in control.,A man is released from prison to help American...,133,Mystery|Crime|Action|Thriller|Drama,Universal Pictures|Forward Pass|Legendary Pict...,1/13/2015,5.0,2015
797,tt1598778,60000000,135458097,Contagion,Matt Damon|Gwyneth Paltrow|Kate Winslet|Jude L...,Steven Soderbergh,Nothing spreads like fear,Contagion follows the rapid progress of a leth...,106,Drama|Thriller|Science Fiction,Double Feature Films|Regency Enterprises|Warne...,9/8/2011,6.1,2011

In [209]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [210]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
#подготовка дополнительного столбца с прибылью
data['profit'] = data.apply(lambda x: x.revenue - x.budget,axis=1) #добавление столбца со значениями прибыли
# извлечение из строковых данных даты/времени
data['date_']=pd.to_datetime(data.release_date,format='%m/%d/%Y') #расшифровать строковое представление даты в формат datetime и сделать новый столбец
data.sample(3)

#разделение комбинации на отдельные элементы по жанрам, режиссерам, актерам, кинокомпаниям
databyg=data.copy(deep=True)
databyg['genres_']=data.genres.apply(lambda x:x.split('|'))
databyg=databyg.explode('genres_', ignore_index=False)
databyg.sample(3)

databyd=databyg.copy(deep=True)
databyd['director_']=data.director.apply(lambda x:x.split('|'))
databyd=databyd.explode('director_', ignore_index=False)
databyd.sample(3)

databyc=databyd.copy(deep=True)
databyc['cast_']=data.cast.apply(lambda x:x.split('|'))
databyc=databyc.explode('cast_', ignore_index=False)
databyc.sample(3)

databyp=data.copy(deep=True)
databyp['production_companies_']=data.production_companies.apply(lambda x:x.split('|'))
databyp=databyp.explode('production_companies_', ignore_index=False)
databyp.sample(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_,production_companies_
1453,tt0396171,50000000,132180323,Perfume: The Story of a Murderer,Ben Whishaw|Simon Chandler|David Calder|Richar...,Tom Tykwer,Based on the best-selling novel,"Jean-Baptiste Grenouille, born in the stench o...",147,Crime|Fantasy|Drama,Davis-Films|Nouvelles Ã‰ditions de Films (NEF)...,9/13/2006,7.0,2006,82180323,2006-09-13,VIP Medienfonds 4
1257,tt1321511,30000000,4861022,Oldboy,Josh Brolin|Elizabeth Olsen|Samuel L. Jackson|...,Spike Lee,Ask not why you were imprisoned. Ask why you w...,An everyday man has only three and a half days...,104,Drama|Thriller|Mystery|Action,Vertigo Entertainment|40 Acres & A Mule Filmwo...,11/14/2013,6.0,2013,-25138978,2013-11-14,Good Universe
602,tt0936501,25000000,226830568,Taken,Liam Neeson|Famke Janssen|Maggie Grace|Katie C...,Pierre Morel,They took his daughter. He'll take their lives.,"While vacationing with a friend in Paris, an A...",93,Action|Thriller|Crime,Twentieth Century Fox Film Corporation|M6 Film...,2/18/2008,7.2,2008,201830568,2008-02-18,M6 Films


# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [211]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'
# если ответили верно, можете добавить комментарий со значком "+"

In [212]:
# тут пишем ваш код для решения данного вопроса:
maxbud=data[data.budget==data.budget.max()]
display(maxbud)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000,2011-05-11

ВАРИАНТ 2

In [213]:
# можно добавлять разные варианты решения
maxbud={"budget":0,"original_title":''} #внешний словарь для сохранения результатов просмотра базы
def lookmaxbud(x,global_dict): #сохранение очередного бюджета, превышающего все просмотренные до этого
    if x.budget>global_dict["budget"]:
        global_dict["budget"]=x.budget
        global_dict["original_title"]=x.original_title
data.apply(lookmaxbud,axis=1,global_dict=maxbud)
print(maxbud)

{'budget': 380000000, 'original_title': 'Pirates of the Caribbean: On Stranger Tides'}

# 2. Какой из фильмов самый длительный (в минутах)?

In [214]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals'

In [215]:
maxtimerow=data[data.runtime==data.runtime.max()]
display(maxtimerow)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21

## вариант 2

In [216]:
maxtimeind=data.runtime.idxmax(axis=1, skipna=True)
display(data.iloc[[maxtimeind]])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064,2003-02-21

# 3. Какой из фильмов самый короткий (в минутах)?

In [217]:
answers['3'] = 'Winnie the Pooh'

In [218]:
mintimeind=data.runtime.idxmin(axis=1, skipna=True)
display(data.iloc[[mintimeind]])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000,2011-04-13

# 4. Какова средняя длительность фильмов?

In [219]:
answers['4'] = 109.6585494970884

In [220]:
display(data.runtime.mean())

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [221]:
answers['5'] = 107.0

In [222]:
display(data.runtime.median())

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [223]:
answers['6'] = 'Avatar'

In [224]:
# лучше код получения столбца profit вынести в Предобработку что в начале
display(data.iloc[[data.profit.idxmax()]])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847,2009-12-10

# 7. Какой фильм самый убыточный?

In [225]:
answers['7'] = 'The Lone Ranger'

In [226]:
display(data.iloc[[data.profit.idxmin()]])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [227]:
answers['8'] = 1478

In [228]:
display(len(data[data.revenue>data.budget].index))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [229]:
answers['9'] = 'The Dark Knight'

In [230]:
data2008=data[data.date_.dt.year==2008]

In [231]:
data2008=data[data.release_year==2008]
display(data2008.profit.idxmax())
display(data.iloc[[data2008.profit.idxmax()]])

599

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825,2008-07-16

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [232]:
answers['10'] = 'The Lone Ranger'

In [233]:
data1214=data[(data.release_year>=2012) & (data.release_year<=2014)]
#display(data1214)
display(data.iloc[[data1214.profit.idxmin()]])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,date_
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090,2013-07-03

# 11. Какого жанра фильмов больше всего?

In [234]:
answers['11'] = 'Drama'

In [235]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
genrecount= databyg['genres_'].value_counts()
display(genrecount)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres_, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [236]:
answers['12'] = 'Drama'

In [237]:
databygmost=databyg[data.profit>0]['genres_'].value_counts()
display(databygmost)

<ipython-input-237-7d2050388ff9>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  databygmost=databyg[data.profit>0]['genres_'].value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres_, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [238]:
answers['13'] = 'Peter Jackson'

In [239]:
display(databyd.groupby(['director_'])['revenue'].sum().sort_values(ascending=False))

director_
Peter Jackson        17464735681
Christopher Nolan    16196885522
David Yates          13401099613
J.J. Abrams          12805687973
Michael Bay          12370445156
                        ...
David MichÃ´d            4590846
Paul Schrader            4124132
Keanu Reeves             4109882
Don McKellar             3430018
Susanne Bier             2849142
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [240]:
answers['14'] = 'Robert Rodriguez'

In [241]:
display(databyd[databyd.genres_=='Action']['director_'].value_counts())

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Kevin Smith           1
Miguel Sapochnik      1
Don Hall              1
Anthony Hemingway     1
Frank Coraci          1
Name: director_, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [242]:
answers['15'] = 'Chris Hemsworth'

In [243]:
display(databyc[databyc.release_year==2012].groupby(['cast_']).max().loc[:,['revenue','profit']].sort_values(by='revenue', ascending=False))
#выбор из предложенных в задании вариантов на основании результатов запроса

                       revenue      profit
cast_
Scarlett Johansson  1519557910  1299557910
Chris Evans         1519557910  1299557910
Chris Hemsworth     1519557910  1299557910
Mark Ruffalo        1519557910  1299557910
Robert Downey Jr.   1519557910  1299557910
...                        ...         ...
Jason Bateman          3428048    -6571952
Danny Huston           2106557   -32893443
Josh Lucas             2106557   -32893443
Sami Gayle             2106557   -32893443
Nicolas Cage           2106557   -32893443

[466 rows x 2 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [244]:
answers['16'] = 'Matt Damon'

In [245]:
#среднее значение бюджета по всем фильмам
budgetmean=data['budget'].mean()
display(budgetmean)
display(databyc[databyc.budget>budgetmean]['cast_'].value_counts())
#выбор из предложенных в задании вариантов на основании результатов запроса

54310829.63843303

Eddie Murphy        72
Matt Damon          70
Cameron Diaz        68
Angelina Jolie      66
Steve Buscemi       58
                    ..
Ron Silver           1
Chris O'Dowd         1
Brian Howe           1
Michael Bunin        1
Taraji P. Henson     1
Name: cast_, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [246]:
answers['17'] = 'Action'

In [247]:
display(databyc[databyc.cast_=='Nicolas Cage']['genres_'].value_counts())
#выбор верхнего в списке

Action             19
Thriller           17
Drama              12
Crime              11
Fantasy            10
Adventure           8
Comedy              7
Science Fiction     4
Family              4
Animation           4
Mystery             3
History             2
Horror              1
Romance             1
War                 1
Name: genres_, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [248]:
answers['18'] = 'K-19: The Widowmaker'

In [249]:
display(databyp[databyp.production_companies_=='Paramount Pictures'][['original_title','profit']].sort_values(by='profit',ascending=True))

                                         original_title     profit
925                                K-19: The Widowmaker  -64831034
1123                                           Timeline  -60519261
1722                                               Next  -51788987
1623                                              Alfie  -46604061
1631                                            Twisted  -24805000
...                                                 ...        ...
730                Mission: Impossible - Ghost Protocol  549713380
1738                                       Transformers  559709780
603   Indiana Jones and the Kingdom of the Crystal S...  601636033
317                 Transformers: Revenge of the Fallen  686297228
828                      Transformers: Dark of the Moon  928746996

[122 rows x 2 columns]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [250]:
answers['19'] = 2015

In [251]:
display(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False))
#выбор верхнего в списке

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [252]:
answers['20'] = 2014

In [253]:
display(data[data.production_companies.str.contains('Warner Bros.')].groupby(['release_year'])[['profit']].sum().sort_values(by='profit',ascending=False))
#выбор верхнего в списке

                  profit
release_year
2014          2295464519
2007          2201675217
2008          2134595031
2010          1974712985
2011          1871393682
2003          1855493377
2009          1822454136
2013          1636453400
2004          1631933725
2005          1551980298
2001          1343545668
2012          1258020056
2002          1022709901
2015           870368348
2006           620170743
2000           452631386

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [254]:
answers['21'] = 'Сентябрь'

In [255]:
display(data.groupby([data.date_.dt.month]).count().iloc[:,0].sort_values(ascending=False))
#выбор номера месяца верхнего в списке

date_
9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: imdb_id, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [256]:
answers['22'] = 450

In [257]:
display(len(data[(data.date_.dt.month>=6) & (data.date_.dt.month<=8)]['original_title'].index))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [258]:
answers['23'] = 'Peter Jackson'

In [259]:
display(databyd[(data.date_.dt.month==11) | (data.date_.dt.month==12) | (data.date_.dt.month==1)]['director_'].value_counts())
#выбор верхнего в списке

<ipython-input-259-8005299ae0c6>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  display(databyd[(data.date_.dt.month==11) | (data.date_.dt.month==12) | (data.date_.dt.month==1)]['director_'].value_counts())

Peter Jackson            21
Clint Eastwood           16
Steven Soderbergh        15
Francis Lawrence         15
Edward Zwick             14
                         ..
Greg Strause              1
James Duffy               1
Dennis Dugan              1
Jonathan van Tulleken     1
Todd Strauss-Schulson     1
Name: director_, Length: 371, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [260]:
answers['24'] = 'Four By Two Productions'

In [261]:
#предварительная подготовка столбца с длиной названия
databyp['titlelen']=databyp.original_title.apply(lambda x:len(x))
databyp.sample(3)
display(databyp.groupby(['production_companies_']).mean().sort_values(by='titlelen',ascending=False))
#выбор верхней в списке компании

,budget,revenue,runtime,vote_average,release_year,profit,titlelen
production_companies_,,,,,,,
Four By Two Productions,18000000.0,261572744.0,82.0,6.4,2006.0,243572744.0,83.0
"Jim Henson Company, The",28000000.0,100654149.0,81.0,6.2,2014.0,72654149.0,59.0
Dos Corazones,12000000.0,9622846.0,145.0,6.8,2012.0,-2377154.0,47.0
Polsky Films,25000000.0,10589102.0,122.0,5.8,2009.0,-14410898.0,46.0
Museum Canada Productions,150000000.0,413106170.0,105.0,5.9,2009.0,263106170.0,46.0
...,...,...,...,...,...,...,...
Everest Entertainment,10000000.0,21587700.0,130.0,6.9,2013.0,11587700.0,3.0
Berlanti Productions,150000000.0,128388320.0,111.0,5.9,2015.0,-21611680.0,3.0
Global Entertainment Group,25100000.0,29506464.0,131.0,5.6,2008.0,4406464.0,2.0
XM2 Productions,110000000.0,214948780.0,133.0,6.7,2003.0,104948780.0,2.0
Ixtlan Productions,25100000.0,29506464.0,131.0,5.6,2008.0,4406464.0,2.0

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [262]:
answers['25'] = 'Midnight Picture Show'

In [263]:
#подготовка столбца с количеством слов в описании
databyp['wordscount']=databyp.overview.apply(lambda x:len(x.split(' ')))
databyp.sample(3)
display(databyp.groupby(['production_companies_'])['wordscount'].mean().sort_values(ascending=False))
#выбор верхней в списке компании

production_companies_
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: wordscount, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [271]:
answers['26'] = 'Inside Out,...'

In [270]:
#подготовка столбца с рейтингом и количеством фильмов в процентах
vdata=data['vote_average'].value_counts(normalize=True).reset_index()
vdata.columns = ['vote','filmspercent']
vdata=vdata.sort_values(by='vote',ascending=False)
#внешний словарь для накопления суммы процентов фильмов из сортированного списка от верхних значений вниз,
#пока не наберется 1% от общего количества филмов
#при этом засечь нижнее значение рейтинга
vote_average={"sum_vote_average":0,"vote":0,"stop":False} #внешний словарь для сохранения результатов просмотра базы
def accumulate(x,global_dict): #накопление доли фильмов до достижения 1%
    if global_dict["stop"]: #когда сумма 1% накопилсаь , далее не трогать рейтинг-пороговое нижнее значение для 1% лучших фильмов
        return
    if (global_dict["sum_vote_average"]+x.filmspercent)<=0.01:
        global_dict["sum_vote_average"]=global_dict["sum_vote_average"]+x.filmspercent #накапливать сумму до достижения 1%
        global_dict["vote"]=x.vote #нижний порого рейтинга
    else:
        global_dict["stop"]=True 
vdata.apply(accumulate,axis=1,global_dict=vote_average)
print(vote_average) #это пороговое значение рейтинга и доля фильмов, которые не хуже этого порога по рейтингу

#тут накопилось не 1%, а 0.7%, а следующая ступень понижения рейтинга уже покажет 1.4% фильмов

#далее вывести список фильмов и на основании списка выбрать из задания подходящий ответ
display(data[data.vote_average>=vote_average["vote"]].loc[:,['original_title','vote_average']])
display(data['vote_average'])

#получить список из трех фильмов, как в варианте задания, не получилось

{'sum_vote_average': 0.00741132874536792, 'vote': 7.9, 'stop': True}

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [272]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

In [265]:
import itertools as it
databycc=data.copy(deep=True)
#разбить по отдельным актерам
databycc['cast_']=data.cast.apply(lambda x:x.split('|'))
#сформировать попарные комбинации по актерам
databycc['cast_']=databycc.cast_.apply(lambda x:list(it.combinations(x,2)))
#разделить на отдельные строки всю базу с попарными комбинациями
databycc=databycc.explode('cast_', ignore_index=False)
databycc.sample(3)
#а это бы я сам не догадался
databycc=databycc.cast_.mode()
display(databycc)
#выбор из списка предложенных ответов на основании полученного результата
#исследовать вариант mode я не успел к дедлайну, займусь после.

0     (Daniel Radcliffe, Emma Watson)
1    (Daniel Radcliffe, Rupert Grint)
dtype: object

ВАРИАНТ 2

# Submission

In [273]:
# в конце можно посмотреть свои ответы к каждому вопросу
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out,...',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [274]:
# и убедиться что ни чего не пропустил)
len(answers)

27